.header{
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%,-108px);
    z-index: 9999;
    background-color: rgb(172, 224, 235);
    width: 100vw;
    .navigation {
        padding: 34px 0 19px 0;
        width: 1170px;
        .container{
            display: flex;
            justify-content: space-between;
            .logo {
                display: flex;
                align-items: center;
                #logo{
                    margin-right: 6px;
                }
                a {
                    span {
                        display: inline-block;
                        @include text-style(28px,500,24px,#302D3A);
                        letter-spacing: 1px;
                    }
                }
            }
            .menu{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-right: 37px;
                        img{
                            padding: 3px 7px;
                            transition: transform 0.3s ease;
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                    li:not(:last-child){
                        a{
                            @include text-style(16px,400,24px,#544E7A);
                        }
                    }
                    li:hover{
                        .rotated{
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
}

.light-blue{
    background-color: #EFEFF6;
}

.top-courses,
.course-choises,
.popular-courses{
    background-color: #EFEFF6;
    padding: 80px 0 50px 0;
    .container{
        .title{
            .main-button{
                margin-left: 24px;
            }
            .title-buttons{
                a:first-child{
                    @include text-style(16px,400,24px,#544E7A);
                    img{
                        padding: 3px 7px;
                        transition: transform 0.3s ease;
                    }
                    img:hover{
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        .cards{
            .row{
                .col-4{
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.title{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-card{
    padding: 17px 17px 32px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    a{
        .main-img{
            width: 100%;
            height: 263px;
            margin-bottom: 20px;
            border-radius: 5px;
            overflow: hidden;
            background-color: #707070;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .testimonials{
        margin-bottom: 17px;
        display: flex;
        justify-content: space-between;
        >a{
            .img{
                margin-right: 9px;
            }
        }
    }
    a{
        .course-name{
            margin-bottom: 22px;
            @include text-style(24px,400,32px,$main-title-color);
        }
    }
    .price{
        .tutor{
            .tutor-img{
                width: 39px;
                height: 40px;
                background-color: #707070;
                border-radius: 8px;
                overflow: hidden;
                margin-right: 14px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .tutor-name{
                @include text-style(14px,400,21px,#7A7A7A) 
            }
        }
        .pricing{
            .item-price{
                margin-right: 13px;
                text-decoration: line-through;
                @include text-style(16px,400,24px,#CAC6D4) 
            }
            .discounted-price{
                @include text-style(18px,700,24px,#F68C20) 
            }
        }
    }
}

.review-card{
    width: calc(100% - 60px) / 3;
    padding: 30px 22px;
    box-sizing: border-box;
    background-color: rgb(240, 250, 250);
    border-radius: 0 30px 0 0;
    transition: 0.2s ease-in;
    .user{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .img{
            margin-right: 12px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        span{
            @include text-style(24px,500,40px,#5F5982);
        }
    }
    .review{
        p{
            @include text-style(18px,400,30px,#5F5982);
        }
    }
}

.review-card:hover{
    background-color: white;
}

#footer{
    padding: 73px 0 30px 0;
    background-color: #282834;
    .container{
        .footer-nav{
            margin-bottom: 80px;
            .about-company{
                .content-heading{
                    margin-bottom: 35px;
                    a{
                        @include text-style(24px,400,24px,#FFFFFF);
                    }
                }
                .content-body{
                    div{
                        margin-bottom: 15px;
                        a{
                            @include text-style(18px,400,20px,#91929A);
                        }
                    }
                    div:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .footer-bottom{
            display: flex;
            justify-content: space-between;
            .copyright{
                @include text-style(18px,400,24px,#777777);
            }
            .social-media{
                a{
                    margin-left: 38px;
                }
            }
        }
    }
}

.tutor-card{
    box-sizing: border-box;
    .card-top{
        height: 169px;
    }
    .card-body{
        border: solid 1px #CAC6D4;
        box-sizing: border-box;
        padding: 0 22px 33px;
        .main-image{
            background-image: linear-gradient(bottom, #06B47E 71%, transparent 71%, transparent 100%);
            width: 100%;
            height: 100%;
            margin: -190px 0 22px;
            .image{
                background-color: #CAC6D4;
                border: none;
                width: 238px;
                height: 375px;
                margin-left: 28px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        h2{
            margin-bottom: 17px;
            @include text-style(24px,600,24px,$main-title-color);
        }
        p{
            @include text-style(16px,400,30px,#5F5982);
        }
    }
}

.user-special-review{
    padding: 80px 85px;
    background-color: #FEF0EF;
    display: flex;
    justify-content: space-between;
    .review{
        width: calc((100% - 20px) / 2);
        p{
            @include text-style(32px,500,60px,$main-title-color);
            font-style: italic;
            margin-bottom: 39px;
        }
        span{
            @include text-style(18px,400,24x,$main-title-color);
        }
    }
    .photo{
        width: 478px;
        height: 364px;
        background-color: $bcgrnd-photo-color;
        position: relative;
        #main-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        #play{
            position: absolute;
            bottom: 38px;
            right: 44px;
        }
    }
}

#educators-offer-slider{
    padding: 80px 0;
    background-color: #EFEFF6;
    .main-button{
        margin-left: 24px;
    }

    .offer-card{
        padding: 0 0 0 15px;
        width: 400px;
        height: 150px;
        overflow: hidden;
        .card-content{
            padding: 33px 0 0 38px;
            width: 100%;
            height: 100%;
            background-image: url("../../images/educatorsoffercards/pinkcrd.jpg");
        }
    }
}